<div class="flex-1 flex bg-indigo-50 items-center justify-left">
  <div
    class="bg-gray-50 h-screen shadow-lg flex flex-col justify-between"
  >
    <div class="flex-none p-4 border-b ">
      <a href="https://pramodpallath.com">
        <img
          class="h-12"
          alt="Pramod Pallath"
          src="https://pramodpallath.com/assets/pramod-pallath-logo.png"
        />
      </a>
    </div>
    <div class=" p-4 bg-gray-50 flex-1">
        Learning Angular

        <ul>
          <li>
            <a  routerLink="/the-most-basic-ng-library" 
                routerLinkActive="active" ariaCurrentWhenActive="page">Basic Angular Libary</a>
          </li>
        </ul>
    </div>

    <div class="">
      <a
        href="https://pramodpallath.com/"
        class="bg-blue-900 p-4 w-full block text-gray-50 text-bold"
      >
        More About Pramod Pallath
    </a>
    </div>

    

  </div>
  <router-outlet></router-outlet>
</div>

